
<br><br>
<br><br>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Login Details....</h5>
            <br>
            Enter user name and passowrd to login to employees and products components.
            
        </div>
        <div class="col">

        <div class="card" style="width: 70%;">
        <br><br>
            <div class="card-body">
                Username: <input type="text" #uname> <br><br>
            Password: <input type="password" #pwd><br><br>
            <input type="button" value="LOGIN" (click)="login(uname.value,pwd.value)">
            </div>
      </div>

        </div>
    </div>
        

